Repository the-turing-way/the-turing-way, pull requests merged in 2019-05, with the labels that each got.

#432 Kirstie's updates to dissemination report
  conferences/presentations/TuringResearchEngineering_TechTalk_20190430/binder_techtalk.pdf
  conferences/presentations/UKOSWG19_20190411/Herterich_TheTuringWay.pdf
  project_management/dissemination-report-20190507.md
  project_management/dissemination-report.md
Labels: project management

#425 [Ready for Review] Build a BinderHub workshop abstract at RSE Con 19
  conferences/README.md
  conferences/abstracts/RSECon19-BinderHub-workshop-application.md
Labels: binderhub, comms

#453 Add a couple of photos
  communications/newsletters/newsletter_03_Mar2019.md
  figures/TuringWayTeamWAlanTuring.jpg
  figures/TuringWayWorkshops.png
Labels: project management

#466 [Ready for review] Intro slides for book dash
  workshops/book-dash/IntroBookDashMCR.pdf
Labels: book-dash-mcr, events

#484 grammar/typo tweak for the book build README
  book/README.md
Labels: book-dash-mcr

#473 [Ready for review] Fixing formatting of RDM chapter
  book/content/rdm/rdm.md
Labels: book-dash-mcr

#479 [Ready to Review] Edits to Chapter 2 Summary to incl definition
  book/content/reproducibility/01/importantforscience.md
  book/content/reproducibility/02/whycare.md
  book/content/reproducibility/03/definitions.md
  book/content/reproducibility/04/resources.md
  book/content/reproducibility/reproducibility.md
Labels: book-dash-mcr

#488 [Ready for review] Updating Github templates
  .github/ISSUE_TEMPLATE/CHAPTER_ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
Labels: book-dash-mcr

#478 Added a link to the version control prerequisite
  book/content/collaborating_github/collaborating_github.md
  book/content/open_research/open_research.md
  book/content/version_control/version_control.md
Labels: book-dash-mcr

#482 [Ready to review] Restructure Open Research chapter
  book/content/open_research/01/opendata.md
  book/content/open_research/02/opensourcesoftware.md
  book/content/open_research/03/openhardware.md
  book/content/open_research/04/openaccess.md
  book/content/open_research/05/opennotebooks.md
  book/content/open_research/06/openscholarship.md
  book/content/open_research/07/resources.md
  book/content/open_research/open_research.md
  book/website/_data/toc.yml
Labels: book-dash-mcr

#493 Added relative links to contributing guidelines
  CONTRIBUTING.md
Labels: book, book-dash-mcr

#489 [Ready for review] Change contributors acknowledgment in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: book-dash-mcr, project management

#499 Added data organisation in spreadsheets section
  book/content/rdm/rdm.md
Labels: book, book-dash-mcr

#513 [Ready to review] Extend CI to check the site html
  .gitignore
  .travis.yml
  book/website/Gemfile
  book/website/Gemfile.lock
  book/website/scripts/html-proof.sh
Labels: book-dash-mcr

#510 [Ready for review] Patient and Public Involvement section
  book/content/open_research/06/openscholarship.md
  book/content/open_research/open_research.md
  book/website/_data/toc.yml
Labels: book, book-dash-mcr

#531 [Ready for Review] Update the BinderHub Workshop document
  workshops/build-a-binderhub/binderhub_resources/setup.sh
  workshops/build-a-binderhub/workshop-presentations/zero-to-binderhub.md
Labels: binderhub, events

#503 [WIP] Restructuring Risk Assessment chapter
  book/content/risk_assessment/01/longreadriskassessment.md
  book/content/risk_assessment/02/finalsummary.md
  book/content/risk_assessment/risk_assessment.md
  book/website/_data/toc.yml
Labels: book-dash-mcr

#500 [Ready for Review] Editing the version control chapter
  book/content/version_control/version_control.md
Labels: book-dash-mcr

#485 [Ready to review] Chapter on credit for reproducible research
  book/content/credit/credit.md
  book/website/_data/toc.yml
  contributors.md
Labels: book-dash-mcr

#523 [WIP] Proofreading of Chapter 7
  book/content/reproducible_environments/reproducible_environments.md
Labels: book-dash-mcr

#534 Remove line breaks from issue templates
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
Labels: project management

#528 [Ready for review] Manchester Book Dash Report
  figures/book_dash_mcr_art.jpg
  figures/book_dash_mcr_dinner.jpg
  figures/book_dash_mcr_group.jpg
  figures/book_dash_mcr_tweet1.png
  figures/book_dash_mcr_tweet2.png
  figures/book_dash_mcr_tweet3.png
  figures/book_dash_mcr_tweet4.png
  figures/book_dash_mcr_tweet5.png
  figures/book_dash_mcr_tweet6.png
  figures/book_dash_mcr_tweet7.png
  figures/book_dash_mcr_tweet8.png
  workshops/book-dash/book-dash-mcr-report.md
  workshops/book-dash/feedback-form.md
  workshops/book-dash/hackmd-template.md
  workshops/book-dash/pluses-and-deltas.md
Labels: book-dash-mcr, comms, events

#549 [Ready for Review] Removed lorem ipsums
  .travis.yml
  book/content/reviewing/reviewing.md
  scripts/lorem-ipsums.py
Labels: book, book-dash-ldn

#551 [Ready for review] Fix broken image link
  book/content/risk_assessment/01/longreadriskassessment.md
  book/website/assets/figures/risk_matrix.png
Labels: book-dash-ldn

#562 [Ready for Review] Removed latin abbreviations
  book/content/open_research/open_research.md
Labels: book-dash-ldn

#570 [Ready for Review] Removed latin abbreviations
  book/content/open_research/01/opendata.md
Labels: book-dash-ldn

#573 [Ready for Review] Minor typos/changes to Chapters 1/2
  book/content/introduction/introduction.md
  book/content/open_research/open_research.md
  book/content/reproducibility/01/importantforscience.md
  book/content/reproducibility/02/whycare.md
  book/content/reproducibility/03/definitions.md
  book/content/reproducibility/04/resources.md
  book/content/reproducibility/reproducibility.md
Labels: book-dash-ldn

#577 [Ready for Review] Reorganising Collaborating with GitHub chapter into subsections
  book/content/collaborating_github/1/readme_communication.md
  book/content/collaborating_github/2/roadmapping.md
  book/content/collaborating_github/3/getting_contributors.md
  book/content/collaborating_github/4/checklist_bibliography.md
  book/content/collaborating_github/collaborating_github.md
  book/website/_data/toc.yml
  book/website/assets/figures/community_profile_github.PNG
Labels: book-dash-ldn

#566 [Ready for Review] Added more useful error message to lorem-ipsums.py CI test
  scripts/lorem-ipsums.py
Labels: book-dash-ldn

#589 Try out matrix build
  .travis.yml
Labels: book-dash-ldn

#582 [Ready to Review] Restructuring Reviewing chapter
  book/content/reviewing/01/how_helpful.md
  book/content/reviewing/02/best_practice.md
  book/content/reviewing/03/typical_workflows.md
  book/content/reviewing/04/checklists_bib.md
  book/content/reviewing/reviewing.md
  book/website/_data/toc.yml
Labels: book-dash-ldn

#600 [Ready for review] Updating Contributing Guidelines
  CONTRIBUTING.md
Labels: book-dash-ldn

#477 [WIP] Machine learning chapter
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/CHAPTER_ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  README.md
  book/README.md
  book/content/collaborating_github/collaborating_github.md
  book/content/machine_learning/machine_learning.md
  book/content/open_research/01/opendata.md
  book/content/open_research/02/opensourcesoftware.md
  book/content/open_research/03/openhardware.md
  book/content/open_research/04/openaccess.md
  book/content/open_research/05/opennotebooks.md
  book/content/open_research/06/openscholarship.md
  book/content/open_research/07/resources.md
  book/content/open_research/open_research.md
  book/content/rdm/rdm.md
  book/content/reproducibility/01/importantforscience.md
  book/content/reproducibility/02/whycare.md
  book/content/reproducibility/03/definitions.md
  book/content/reproducibility/04/resources.md
  book/content/reproducibility/reproducibility.md
  book/content/version_control/version_control.md
  book/website/_data/toc.yml
  workshops/book-dash/IntroBookDashMCR.pdf
Labels: book-dash-mcr

#610 [Ready for Review] Ethical Desicions_Planning_Research
  book/content/Ethical_Decisions/Planning_Research.md
Labels: book-dash-ldn

#592 [WIP] feat: Add docker-compose file
  CONTRIBUTING.md
  book/website/docker-compose.yml
Labels: book-dash-ldn

#568 [RFR] Editing the RDM - extended FAIR + add personal story
  book/content/rdm/rdm.md
Labels: book-dash-ldn

#631 [Ready to review] London Book Dash Report
  workshops/book-dash/book-dash-ldn-report.md
  workshops/book-dash/feedback-form.md
  workshops/book-dash/figures/book_dash_ldn_art.jpg
  workshops/book-dash/figures/book_dash_ldn_dinner.jpg
  workshops/book-dash/figures/book_dash_ldn_group.jpg
  workshops/book-dash/figures/book_dash_ldn_tweet1.png
  workshops/book-dash/figures/book_dash_ldn_tweet2.png
  workshops/book-dash/figures/book_dash_ldn_tweet3.png
  workshops/book-dash/figures/book_dash_ldn_tweet4.png
  workshops/book-dash/figures/book_dash_ldn_tweet5.png
  workshops/book-dash/figures/book_dash_ldn_tweet6.png
  workshops/book-dash/figures/book_dash_ldn_tweet7.png
  workshops/book-dash/figures/book_dash_ldn_tweet8.png
  workshops/book-dash/hackmd-template.md
Labels: book-dash-ldn, events

#605 [Ready for Review] Stylistic changes to GitHub/GitLab and Version Control chapters
  book/content/collaborating_github/1/readme_communication.md
  book/content/collaborating_github/2/roadmapping.md
  book/content/collaborating_github/3/getting_contributors.md
  book/content/collaborating_github/4/checklist_bibliography.md
  book/content/version_control/version_control.md
Labels: book-dash-ldn

#602 [WIP] Latin abbreviations
  .travis.yml
  scripts/no-bad-latin.py
Labels: book-dash-ldn
