Repository the-turing-way/the-turing-way, pull requests merged in 2019-11, with the labels that each got.

#734 Add in podcast link
  README.md
Labels: comms, community

#741 Update contact information in ways of working document
  GOVERNANCE.md
  README.md
  book/content/figures/Contributors.png
  book/content/figures/WorkshopsComboPicture.png
  book/content/figures/community.jpg
  book/content/figures/contributors-twopanel.png
  book/content/introduction/introduction.md
  ways_of_working.md
Labels: project management

#738 [quick-fix] Fix Gitter link
  ways_of_working.md
Labels: project management

#753 Version control heading anchor
  book/content/version_control/version_control.md
Labels: book, enhancement, typo-fix

#756 Level down sub-topics to heading level 3
  book/content/collaborating_github/3/getting_contributors.md
Labels: book

#750 typo - add full stop
  book/content/credit/credit.md
Labels: book, typo-fix

#751 minor typo - full stop
  book/content/introduction/introduction.md
Labels: book, typo-fix

#728 update readme with easy to find link to book, and missing TOC item, a…
  README.md
Labels: community, project management
