Repository the-turing-way/the-turing-way, pull requests merged in 2019-09, with the labels that each got.

#675 [Ready to review] Documentation for online Collaboration Cafes in autumn 2019
  project_management/online-collaboration-cafe.md
Labels: community, help wanted

#657 [Ready for partial review] Open Science Fair poster draft
  conferences/presentations/OpenScienceFair_20190916/Ainsworth_TuringWayPoster_OSF19_small.pdf
Labels: comms

#634 Add Patricia's impact statement
  project_management/impact_statements/patricia_herterich.md
Labels: project management

#662 [Ready for Review] Updating BinderHub workshop for RSE Con 19
  workshops/build-a-binderhub/binderhub_resources/cloud_shell.png
  workshops/build-a-binderhub/binderhub_resources/github_oauth.png
  workshops/build-a-binderhub/binderhub_resources/setup.sh
  workshops/build-a-binderhub/workshop-presentations/zero-to-binderhub.md
Labels: binderhub

#681 Update line links in setup.sh to point to master
  workshops/build-a-binderhub/workshop-presentations/zero-to-binderhub.md
Labels: binderhub

#677 [Quick fix] Fix broken links
  communications/newsletters/newsletter_06_Sept2019.md
Labels: comms

#688 Minor typo
  workshops/build-a-binderhub/workshop-presentations/zero-to-binderhub.md
Labels: typo-fix

#632 [Ready for review] Add Rachael's impact statement
  project_management/impact_statements/rachael-ainsworth.md
Labels: project management
