Repository the-turing-way/the-turing-way, pull requests merged in 2019-03, with the labels that each got.

#235 [Ready for Review] Create Resources for Zero-to-Binder session in Manc/Turing workshops
  workshops/boost-research-reproducibility-binder/workshop-presentations/zero-to-binder.md
Labels: community, workshops

#266 Adding feedback from Manchester Binder workshop
  workshops/boost-research-reproducibility-binder/feedback/workshop_feedback_Manchester_20190301.csv
Labels: community, workshops

#229 Tidy up talks folder
  conferences/README.md
Labels: enhancement

#331 [Ready for Review] Add hack-my-binderhub session materials
  workshops/build-a-binderhub/hack-my-binderhub.md
Labels: workshops

#263 [Ready for Review] Build resource for Zero-to-BinderHub workshop presentation
  workshops/boost-research-reproducibility-binder/workshop-presentations/zero-to-binder.md
  workshops/build-a-binderhub/digital_ocean.md
  workshops/build-a-binderhub/workshop-presentations/github_oauth.png
  workshops/build-a-binderhub/workshop-presentations/zero-to-binderhub.md
Labels: jupyter, workshops
