Repository the-turing-way/the-turing-way, pull requests merged in 2021-06, with the labels that each got.

#1939 Fix: CI latin check should ignore binary images
  tests/no-bad-latin.py
  tests/pull_files.py
Labels: 0-book-dash-may21, PR: reviewed-approved, PR: unreviewed, bug, bug fixed, tools

#1487 Git add learngitbranching
  .gitignore
  book/website/reproducible-research/vcs/vcs-git-branches.md
Labels: PR: unreviewed, book-dash-nov20, hacktoberfest-accepted

#1941 Update roadmapping, update other project repo chapter and move to project design
  book/website/_toc.yml
  book/website/collaboration/github-collaboration.md
  book/website/collaboration/github/github-contributors.md
  book/website/collaboration/github/github-readme.md
  book/website/collaboration/github/github-resources.md
  book/website/collaboration/github/github-roadmapping.md
  book/website/communication/citable/citable-resources.md
  book/website/communication/os-comms/os-comms-issue-tracking.md
  book/website/communication/os-comms/os-comms-resources.md
  book/website/ethical-research/law-policy.md
  book/website/ethical-research/law-policy/law-policy-resources.md
  book/website/figures/Personas.jpg
  book/website/project-design/project-repo.md
  book/website/project-design/project-repo/project-repo-contributors.md
  book/website/project-design/project-repo/project-repo-participation.md
  book/website/project-design/project-repo/project-repo-readme.md
  book/website/project-design/project-repo/project-repo-resources.md
  book/website/project-design/project-repo/project-repo-roadmapping.md
  book/website/reproducible-research/binderhub.md
  book/website/reproducible-research/binderhub/binderhub-introduction.md
  book/website/reproducible-research/licensing.md
Labels: 0-book-dash-may21, PR: unreviewed

#1930 [Ready to review] Designing a Repository chapter to add to project repo chapter
  book/website/_toc.yml
  book/website/project-design/project-repo/project-repo-advanced.md
Labels: 0-book-dash-may21, PR: reviewed-approved, PR: unreviewed

#1929 Communication guide: overview, blogs, podcast, social media, presentation, lay summary chapters
  book/website/_bibliography/references.bib
  book/website/_toc.yml
  book/website/afterword/contributors-record.md
  book/website/communication/blogs.md
  book/website/communication/blogs/blogs-personal-stories.md
  book/website/communication/blogs/blogs-webpage.md
  book/website/communication/citable/citable-steps.md
  book/website/communication/comms-overview.md
  book/website/communication/comms-overview/comms-overview-accessibly.md
  book/website/communication/comms-overview/comms-overview-principles.md
  book/website/communication/comms-overview/comms-overview-resources.md
  book/website/communication/communication.md
  book/website/communication/lay-summaries.md
  book/website/communication/lay-summaries/lay-summaries-personal-stories.md
  book/website/communication/os-comms.md
  book/website/communication/podcasts.md
  book/website/communication/podcasts/podcasts-personal-stories.md
  book/website/communication/presentations.md
  book/website/communication/presentations/presentations-personal-stories.md
  book/website/communication/presentations/presentations-remote.md
  book/website/communication/social-media.md
  book/website/communication/social-media/social-media-twitter-multiple.md
  book/website/communication/social-media/social-media-twitter-tips.md
  book/website/community-handbook/acknowledgement.md
  book/website/figures/communication-styles-with-text.jpg
  book/website/reproducible-research/renv.md
  book/website/scripts/contributors.sh
Labels: 0-book-dash-may21, PR: reviewed-approved, PR: unreviewed, communication-book, work-in-progress

#1978 fixed-broken-link-of-team-photo-in-README.md
  README.md
Labels: PR: reviewed-approved
