Repository the-turing-way/the-turing-way, pull requests merged in 2023-10, with the labels that each got.

#3310 2023 Digital Infrastructure Insights Fund RFP
  project_management/proposals/digital-Infrastructure-insights-fund.md
Labels: grant-proposal

#3274 add alternative text descriptions for images in Testing
  book/website/reproducible-research/testing.md
  book/website/reproducible-research/testing/testing-exceptions.md
Labels: accessibility

#3321 Improve external link check page grammar
  .github/workflows/external_link_check.yml
  book/website/community-handbook/infrastructure/infrastructure-external-link-check.md
Labels: infrastructure

#3329 Replace broken images used by the Welcome Bot
  .github/config.yml
Labels: bug fixed
