Repository the-turing-way/the-turing-way, pull requests merged in 2023-06, with the labels that each got.

#3116 Restructure link checking
  .github/workflows/ci.yml
  .github/workflows/external_link_check.yml
  book/website/communication/comms-overview/comms-overview-resources.md
  lychee.toml
Labels: infrastructure, 0-book-dash-may23

#2356 rewrite version control for datasets
  book/website/_toc.yml
  book/website/figures/data-provenance.jpg
  book/website/figures/healthy-research-tree.jpg
  book/website/reproducible-research/rdm/rdm-storage.md
  book/website/reproducible-research/vcs.md
  book/website/reproducible-research/vcs/vcs-data.md
  book/website/reproducible-research/vcs/vcs-git-general.md
  book/website/reproducible-research/vcs/vcs-git-in-research.md
  book/website/reproducible-research/vcs/vcs-workflow-branches.md
  book/website/reproducible-research/vcs/vcs-workflow.md
Labels: help wanted, reproducibility-book, review request, PR: unreviewed, book-dash-may22

#3179 Fix YAML linting errors
  .github/ISSUE_TEMPLATE/new_chapter.yml
  book/website/_toc.yml
Labels: infrastructure

#3178 Improve broken links issue
  .github/workflows/external_link_check.yml
  .github/workflows/resources/external_link_check_header.md
Labels: infrastructure

#3181 Run yaml lint workflow on PR
  .github/workflows/yamllint.yaml
Labels: infrastructure

#3156 Update glossary.md -open hardware
  book/website/afterword/glossary.md
Labels: review request, ready for merge, good first PR review, 0-book-dash-may23

#3102 Add Landing Page for Infrastructure Documentation
  book/website/_toc.yml
  book/website/afterword/glossary.md
  book/website/community-handbook/infrastructure.md
  book/website/reproducible-research/ci.md
Labels: infrastructure, 0-book-dash-may23

#3093 Automate updating contributor records in the book
  .all-contributorsrc
  .github/workflows/contributors-record.yml
  book/website/_toc.yml
  book/website/afterword/contributors-record.md
  book/website/community-handbook/infrastructure/infrastructure-contributors.md
  contributors.md
  tests/contributors.sh
Labels: infrastructure, 0-book-dash-may23

#3160 Registration forms sub-chapter
  README.md
  book/website/_toc.yml
  book/website/collaboration/organising-conference.md
  book/website/collaboration/organising-conference/reg-form-template.md
  book/website/collaboration/organising-conference/reg-forms.md
  book/website/community-handbook/translation/translation-getting-started.md
  book/website/community-handbook/translation/translation-hello-crowdin.md
  book/website/community-handbook/translation/translation-localisation.md
  book/website/community-handbook/translation/translation-workflow.md
  book/website/index.md
Labels: 0-book-dash-may23

#3202 Add link to Chinese readme
  README.md
Labels: translation

#3125 [WIP] Update pd-overview-sharing.md -openhardware
  book/website/project-design/pd-overview/pd-overview-sharing.md
Labels: review request, PR: unreviewed, good first PR review, 0-book-dash-may23
