Repository the-turing-way/the-turing-way, pull requests merged in 2023-11, with the labels that each got.

#3248 Rename Newsletter_43_May.md to newsletter_43_May.md
  communications/newsletters/newsletter_43_May.md
Labels: newsletter

#3249 Create newsletter_40_Feb2023.md
  communications/newsletters/newsletter_40_Feb2023.md
Labels: newsletter

#3250 Create newsletter_44_Jun2023.md
  communications/newsletters/newsletter_44_Jun2023.md
Labels: newsletter

#3251 Rename Newsletter_41_Mar2023.md to newsletter_41_Mar2023.md
  communications/newsletters/newsletter_41_Mar2023.md
Labels: newsletter

#3252 Rename Newsletter_42_April2023.md to newsletter_42_Apr2023.md
  communications/newsletters/newsletter_42_Apr2023.md
Labels: newsletter

#3262 Adding Slack policy to community handbook
  book/website/_toc.yml
  book/website/community-handbook/communication-channels/slack-start-guide.md
  book/website/community-handbook/communication-channels/slack-welcome.md
  book/website/community-handbook/communication-platforms.md
Labels: community-handbook

#3340 Inclusive Events Chapter Landing Page: Fixed Formating
  book/website/collaboration/inclusive-events.md
Labels: accessibility

#3374 Edit open hardware
  book/website/reproducible-research/open/open-hardware.md
Labels: 0-book-dash-nov23

#3347 [Ready for review] Fix small typos in the Community Handbook
  book/website/community-handbook/acknowledgement.md
  book/website/community-handbook/acknowledgement/acknowledgement-examples.md
  book/website/community-handbook/acknowledgement/acknowledgement-members.md
  book/website/community-handbook/acknowledgement/acknowledgement-record.md
  book/website/community-handbook/bookdash.md
  book/website/community-handbook/bookdash/bookdash-after.md
  book/website/community-handbook/bookdash/bookdash-application.md
  book/website/community-handbook/bookdash/bookdash-events.md
  book/website/community-handbook/bookdash/bookdash-illustrator.md
  book/website/community-handbook/bookdash/bookdash-logistics.md
  book/website/community-handbook/bookdash/bookdash-selection.md
  book/website/community-handbook/coc/coc-enforcement.md
  book/website/community-handbook/communication-channels.md
  book/website/community-handbook/consistency/consistency-formatting.md
  book/website/community-handbook/consistency/consistency-structure.md
  book/website/community-handbook/contributing/contributing-workflow.md
  book/website/community-handbook/coworking.md
  book/website/community-handbook/coworking/coworking-collabcafe.md
  book/website/community-handbook/coworking/coworking-motivation.md
  book/website/community-handbook/coworking/coworking-organisation.md
  book/website/community-handbook/coworking/coworking-weekly.md
  book/website/community-handbook/fireside-chat.md
  book/website/community-handbook/fireside-chat/fireside-chat-checklist.md
  book/website/community-handbook/fireside-chat/fireside-chat-roles.md
  book/website/community-handbook/infrastructure.md
  book/website/community-handbook/infrastructure/infrastructure-contributors.md
  book/website/community-handbook/infrastructure/infrastructure-external-link-check.md
  book/website/community-handbook/local-build.md
  book/website/community-handbook/newsletters/newsletters-process.md
  book/website/community-handbook/newsletters/newsletters-style.md
  book/website/community-handbook/newsletters/newsletters-template.md
  book/website/community-handbook/presenting.md
  book/website/community-handbook/style/style-citing.md
  book/website/community-handbook/style/style-crossref.md
  book/website/community-handbook/style/style-custom-styling.md
  book/website/community-handbook/style/style-figures.md
  book/website/community-handbook/style/style-more-styling.md
  book/website/community-handbook/templates.md
  book/website/community-handbook/templates/template-coworking-collabcafe.md
  book/website/community-handbook/translation/translation-getting-started.md
  book/website/community-handbook/translation/translation-hello-crowdin.md
  book/website/community-handbook/translation/translation-localisation.md
  book/website/community-handbook/translation/translation-workflow.md
Labels: 0-book-dash-nov23

#3165 Dingaaling/bigcodecasestudy
  book/website/_toc.yml
  book/website/project-design/data-governance/bigcode_casestudy.md
Labels: book-dash-may23, 0-book-dash-nov23

#3366 [Ready for merge] Adding reference to figure
  book/website/reproducible-research/open.md
Labels: 0-book-dash-nov23

#3365 [Ready for review] Updating references to Programming Historian
  book/website/reproducible-research/ci.md
  book/website/reproducible-research/code-quality.md
  book/website/reproducible-research/make.md
  book/website/reproducible-research/renv.md
  book/website/reproducible-research/testing.md
  book/website/reproducible-research/vcs.md
Labels: 0-book-dash-nov23

#3363 [Ready to merge] Changing chapter suggestion issue link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 0-book-dash-nov23

#3370 [Ready for merge] Adding figure and alt-text
  book/website/collaboration/research-infrastructure-roles/community-manager.md
Labels: 0-book-dash-nov23

#3270 [ready for merge] co-working call notes from july, august, september
  governance/community-calls/20230731-coworking.md
  governance/community-calls/20230807-coworking.md
  governance/community-calls/20230814-coworking.md
  governance/community-calls/20230821-coworking.md
  governance/community-calls/20230828-coworking.md
  governance/community-calls/20230904-coworking.md
  governance/community-calls/20230911-coworking.md
  governance/community-calls/20230925-coworking.md
  governance/community-calls/20231009-coworking.md
  governance/community-calls/20231016-coworking.md
  governance/community-calls/20231023-coworking.md
Labels: project management

#3169 Modification and extension of pd-overview-repro.md
  book/website/_toc.yml
  book/website/project-design/pd-overview/pd-overview-repro.md
Labels: PR: partially-approved, book-dash-may23

#3395 [ready for review] Project design guide updates
  book/website/_toc.yml
  book/website/project-design/pd-checklist.md
  book/website/project-design/pd-overview.md
  book/website/project-design/pd-overview/pd-overview-planning.md
  book/website/project-design/pd-overview/pd-overview-repro.md
Labels: project-design-book, 0-book-dash-nov23

#3184 [WIP] Add crowdin contributors to README
  .github/workflows/crowdin-contributors.yml
  README.md
Labels: enhancement, infrastructure, 0-book-dash-nov23, Recognising Contributions

#3257 [ready for merge] Newsletter updates
  communications/newsletters/README.md
  communications/newsletters/newsletter_45_Jul2023.md
Labels: newsletter

#3417 Data Feminism Landing Page
  book/website/_toc.yml
  book/website/ethical-research/data-feminism.md
Labels: 0-book-dash-nov23

#3396 [Ready for review] Update Twitter references to use X
  book/website/_bibliography/references.bib
  book/website/_toc.yml
  book/website/collaboration/event-participation.md
  book/website/collaboration/informal-chats.md
  book/website/collaboration/new-community/new-community-guide.md
  book/website/collaboration/organising-conference.md
  book/website/collaboration/organising-conference/reg-form-template.md
  book/website/collaboration/team-manual.md
  book/website/communication/aa/aa-stories-community.md
  book/website/communication/aa/aa-stories-interdisciplinary.md
  book/website/communication/blogs.md
  book/website/communication/blogs/blogs-personal-stories.md
  book/website/communication/comms-overview/comms-overview-resources.md
  book/website/communication/lay-summaries/lay-summaries-personal-stories.md
  book/website/communication/os-comms/os-comms-channels.md
  book/website/communication/presentations/presentations-personal-stories.md
  book/website/communication/social-media.md
  book/website/communication/social-media/social-media-twitter-multiple.md
  book/website/communication/social-media/social-media-twitter-tips.md
  book/website/community-handbook/acknowledgement/acknowledgement-examples.md
  book/website/community-handbook/bookdash/bookdash-after.md
  book/website/community-handbook/bookdash/bookdash-application.md
  book/website/community-handbook/bookdash/bookdash-logistics.md
  book/website/community-handbook/community-handbook.md
  book/website/community-handbook/coworking/coworking-collabcafe.md
  book/website/community-handbook/coworking/coworking-weekly.md
  book/website/community-handbook/fireside-chat.md
  book/website/community-handbook/fireside-chat/fireside-chat-checklist.md
  book/website/community-handbook/newsletters/newsletters-process.md
  book/website/community-handbook/newsletters/newsletters-template.md
  book/website/community-handbook/templates/template-bookdash-index.md
  book/website/community-handbook/templates/template-bookdash-notes.md
  book/website/community-handbook/templates/template-newsletter-draft.md
  book/website/community-handbook/translation/translation-getting-started.md
  book/website/ethical-research/social-data.md
  book/website/project-design/persona/persona-contributors.md
  book/website/project-design/persona/persona-creation.md
Labels: 0-book-dash-nov23

#3431 Adding more content to Translation & Localization chapters
  book/website/community-handbook/translation/translation-hello-crowdin.md
  book/website/community-handbook/translation/translation-localisation.md
  book/website/community-handbook/translation/translation-workflow.md
Labels: translation, 0-book-dash-nov23

#3114 Update open-hardware.md
  book/website/_bibliography/references.bib
  book/website/reproducible-research/open/open-hardware.md
Labels: PR: partially-approved, book-dash-may23

#3142 [READY FOR REVIEW] Ethics informed licensing - extension of and partial re-write of the licening section in reproducible research
  book/website/_toc.yml
  book/website/afterword/glossary.md
  book/website/collaboration/shared-ownership/shared-ownership-defaults.md
  book/website/figures/cc-license-chart.png
  book/website/figures/licensing.jpg
  book/website/profiles.yml
  book/website/reproducible-research/code-reuse/code-reuse-details.md
  book/website/reproducible-research/licensing.md
  book/website/reproducible-research/licensing/licensing-checklist.md
  book/website/reproducible-research/licensing/licensing-compatibility.md
  book/website/reproducible-research/licensing/licensing-ethical-source.md
  book/website/reproducible-research/licensing/licensing-hardware.md
  book/website/reproducible-research/licensing/licensing-ml.md
  book/website/reproducible-research/licensing/licensing-software.md
  book/website/reproducible-research/rdm/rdm-dmp.md
Labels: book-dash-may23, 0-book-dash-nov23

#3337 WIP Inclusive Events Schedule and Agenda Subsection
  book/website/afterword/glossary.md
  book/website/collaboration/inclusive-events/inclusive-events-schedules.md
Labels: accessibility

#3402 WIP Inclusive Events Technology Considerations Subsection
  book/website/_bibliography/references.bib
  book/website/collaboration/inclusive-events/inclusive-events-tech.md
Labels: collaboration-book, book, accessibility, guide for accessibility

#3327 WIP Inclusive Events Communications Subsection
  book/website/collaboration/inclusive-events/inclusive-events-comms.md
Labels: accessibility

#3318 WIP Inclusive Events Location subsection
  book/website/collaboration/inclusive-events/inclusive-events-location.md
Labels: accessibility

#3315 WIP Inclusive Planning and Logistics subsection
  book/website/_bibliography/references.bib
  book/website/collaboration/inclusive-events/inclusive-events-planning.md
Labels: accessibility
