Repository the-turing-way/the-turing-way, pull requests merged in 2023-05, with the labels that each got.

#3049 updating reproducible-definition-grid figure resolves issue #3048
  book/website/figures/reproducible-definition-grid.jpg
  book/website/figures/reproducible-definition-grid.svg
  book/website/reproducible-research/overview/overview-definitions.md
Labels: PR: reviewed-approved

#3053 Add metions of the The Software Freedom Law Center & Software Freedom Conservancy to the section in Machine Learning Model Licenses on license enforcement.
  book/website/reproducible-research/licensing/licensing-ml.md
Labels: PR: reviewed-approved

#3004 RDM/Open Data: Remove double information
  book/website/reproducible-research/open/open-resources.md
  book/website/reproducible-research/rdm/rdm-personal.md
  book/website/reproducible-research/rdm/rdm-resources.md
  book/website/reproducible-research/rdm/rdm-storage.md
Labels: PR: unreviewed, 0-book-dash-may23

#3058 Make git branch names consistent between text and figures
  book/website/figures/main-branch.kra
  book/website/figures/main-branch.png
  book/website/figures/one-branch.kra
  book/website/figures/one-branch.png
  book/website/figures/sub-branch.kra
  book/website/figures/sub-branch.png
  book/website/figures/two-branches.kra
  book/website/figures/two-branches.png
Labels: PR: unreviewed

#3100 [WIP] Update pd-overview-planning.md
  book/website/project-design/pd-overview/pd-overview-planning.md
Labels: project management, 0-book-dash-may23

#3123 [WIP] Update citable-steps.md (including hardware)
  book/website/communication/citable/citable-steps.md
Labels: PR: draft, 0-book-dash-may23

#3095 Creating Academic-Industry Collaboration chapter and subchapters
  book/website/_bibliography/references.bib
  book/website/_toc.yml
  book/website/collaboration/academic-industry.md
  book/website/collaboration/academic-industry/academic-industry-community.md
  book/website/collaboration/academic-industry/academic-industry-establish.md
  book/website/collaboration/academic-industry/academic-industry-personal-story.md
Labels: collaboration-book, 0-book-dash-may23

#3104 fix #310
  book/website/reproducible-research/overview/overview-resources.md
Labels: 0-book-dash-may23

#3137 Facilitating Stakeholder Engagement
  book/website/_toc.yml
  book/website/collaboration/stakeholder-engagement.md
Labels: collaboration-book, 0-book-dash-may23

#2808 [WIP] Chapter on Hybrid Collaboration
  book/website/_toc.yml
  book/website/collaboration/hybrid-collab.md
  book/website/collaboration/hybrid-collab/hybrid-collab-challenges.md
  book/website/collaboration/hybrid-collab/hybrid-collab-guidelines.md
  book/website/collaboration/hybrid-collab/hybrid-collab-resources.md
  book/website/figures/hybrid-collab.png
Labels: book-dash-nov22, 0-book-dash-may23

#3136 Take 4: Leadership chapter with 3 new subchapters and landing page
  book/website/_toc.yml
  book/website/collaboration/leadership.md
  book/website/collaboration/leadership/leadership-building.md
  book/website/collaboration/leadership/leadership-features.md
  book/website/collaboration/leadership/leadership-opportunities.md
  book/website/collaboration/leadership/leadership-story-data-librarian.md
  book/website/collaboration/leadership/leadership-story-hackathon.md
  book/website/figures/leadership-wordcloud.jpg
Labels: 0-book-dash-may23

#3162 Remove trailing white space in toc, and change heading levels, to pass CI
  book/website/_toc.yml
  book/website/collaboration/hybrid-collab/hybrid-collab-challenges.md
Labels: caretaking

#3115 Data Governance for the ML Pipeline
  book/website/_toc.yml
  book/website/project-design/data-governance.md
  book/website/project-design/data-governance/data-gov-ml.md
Labels: project-design-book, 0-book-dash-may23
