Repository the-turing-way/the-turing-way, pull requests merged in 2023-07, with the labels that each got.

#3153 Update Localisation Guidelines
  README.md
  book/website/_toc.yml
  book/website/community-handbook/translation/translation-hello-crowdin.md
  book/website/index.md
Labels: translation, community-handbook, 0-book-dash-may23

#3216 workflows: add accessibility alt-text bot.
  .github/workflows/accessibility-alt-text-bot.yml
Labels: infrastructure, accessibility

#883 Add a chapter about error management
  book/website/_toc.yml
  book/website/reproducible-research/code-quality/code-quality-resources.md
  book/website/reproducible-research/code-quality/code-quality-robust.md
  book/website/reproducible-research/testing.md
Labels: review request, book-dash-feb20, 0-book-dash-may23

#3221 Fix link on Record of Contributions, and also add a header note signalling towards the infrastructure documentation for that page
  book/website/afterword/contributors-record.md
  book/website/community-handbook/infrastructure/infrastructure-contributors.md
  contributors.md
Labels: infrastructure, Recognising Contributions

#3220 Add my "Personal Highlights"
  contributors.md
Labels: Recognising Contributions

#3222 Fix minor typo on rdm-sharing.md
  book/website/reproducible-research/rdm/rdm-sharing.md
Labels: typo-fix, good first PR review
