Repository the-turing-way/the-turing-way, pull requests merged in 2024-03, with the labels that each got.

#3526 Update communication-channels.md to add channel information
  book/website/community-handbook/communication-channels.md
Labels: community, community-handbook, communications

#3537 Domain migration banner
  book/website/_config.yml
Labels: infrastructure, caretaking

#3572 Add sketch for DNS page
  book/website/_toc.yml
  book/website/community-handbook/infrastructure/infrastructure-dns.md
Labels: infrastructure
