Repository the-turing-way/the-turing-way, pull requests merged in 2024-01, with the labels that each got.

#3383 WIP Inclusive Events Content Accessibility Subsection
  book/website/collaboration/inclusive-events/inclusive-events-content-guide.md
Labels: collaboration-book, book, accessibility, guide for accessibility

#3479 Adding Resources list to Inclusive Events Chapter
  book/website/collaboration/inclusive-events/inclusive-events-resources.md
Labels: collaboration-book, book

#3481 Notes from core team co-working call on 8 January 2024
  governance/community-calls/20240108-coworking.md
Labels: community

#3444 [READY TO MERGE] Update contributors.md with Brigitta and Kalle's Info
  contributors.md
Labels: 0-book-dash-nov23

#3435 Data hazards chapter
  book/website/_bibliography/references.bib
  book/website/_toc.yml
  book/website/afterword/glossary.md
  book/website/ethical-research/data-hazards.md
  book/website/ethical-research/data-hazards/dh-case-study.md
  book/website/ethical-research/data-hazards/dh-how-to-use.md
  book/website/ethical-research/data-hazards/dh-intro.md
  book/website/figures/data-hazard-environmental-cost.png
Labels: 0-book-dash-nov23
