Repository the-turing-way/the-turing-way, pull requests merged in 2024-06, with the labels that each got.

#3702 Add a resource to team manuals (and move one)
  book/website/collaboration/team-manual.md
Labels: 0-book-dash-june24

#3697 actually distinguish between licence and license
  book/website/reproducible-research/licensing.md
Labels: 0-book-dash-june24

#3689 Update oss-sustainability-challenges.md
  book/website/_toc.yml
  book/website/collaboration/oss-sustainability/oss-sustainability-challenges.md
  book/website/collaboration/oss-sustainability/oss-sustainability-examples.md
Labels: typo-fix, bug fixed, 0-book-dash-june24

#3704 Add physical samples to citation section
  book/website/_bibliography/references.bib
  book/website/communication/citable/citable-cite.md
Labels: 0-book-dash-june24

#3694 New Chapter in Community Handbook on Drop-in Sessions
  book/website/_toc.yml
  book/website/community-handbook/coworking/coworking-dropins.md
Labels: 0-book-dash-june24

#3728 add data gov figure
  book/website/figures/ml-pipeline-governance-opps.jpg
Labels: 0-book-dash-june24

#3720 Add workflow to validate citation file
  .github/workflows/validate_citation.yml
Labels: 0-book-dash-june24

#3719 Tiny changes in academic-industry-establish.md
  book/website/collaboration/academic-industry/academic-industry-establish.md
Labels: 0-book-dash-june24, academic-industry-collaboration

#3721 Ambassador chapter [READY FOR REVIEW]
  book/website/_toc.yml
  book/website/collaboration/ambassador-schemes.md
  book/website/collaboration/ambassador-schemes/ambassador-schemes-establish.md
  book/website/collaboration/ambassador-schemes/ambassador-schemes-personal-story.md
Labels: 0-book-dash-june24

#3723 Update Data Governance Chapter
  book/website/project-design/data-governance.md
  book/website/project-design/data-governance/data-gov-ml.md
Labels: 0-book-dash-june24

#3630 Create pm-core-20240418.md
  governance/pm-core-meeting-notes/pm-core-20240418.md
Labels: project governance

#3619 Implement JSON validation for all-contributors data
  .all-contributorsrc
  .github/workflows/validate-all-contributorsrc.yml
  tests/requirements.txt
  tests/validate-all-contributorsrc.py
Labels: infrastructure, 0-book-dash-june24

#3746 Ambassador chapter fixes
  book/website/collaboration/academic-industry/academic-industry-personal-story.md
  book/website/collaboration/ambassador-schemes.md
  book/website/collaboration/ambassador-schemes/ambassador-schemes-establish.md
  book/website/collaboration/ambassador-schemes/ambassador-schemes-personal-story.md
Labels: 0-book-dash-june24

#3745 Fix all contributors file validation
  .all-contributorsrc
  .github/workflows/validate-all-contributorsrc.yml
  tests/validate-all-contributorsrc.py
Labels: infrastructure, 0-book-dash-june24

#3703 Create examining-power.md
  book/website/_toc.yml
  book/website/ethical-research/data-feminism/data-feminism-power.md
Labels: 0-book-dash-june24

#2080 Create Foreword section and move content from Welcome page
  book/website/_bibliography/references.bib
  book/website/_toc.yml
  book/website/afterword/afterword.md
  book/website/collaboration/leadership.md
  book/website/collaboration/leadership/leadership-features.md
  book/website/collaboration/shared-ownership/shared-ownership-defaults.md
  book/website/community-handbook/acknowledgement.md
  book/website/foreword/background.md
  book/website/foreword/cite.md
  book/website/foreword/community.md
  book/website/foreword/embracing-digital-commons.md
  book/website/foreword/emergent-strategy.md
  book/website/foreword/faqs.md
  book/website/foreword/foreword.md
  book/website/foreword/governance.md
  book/website/foreword/navigate.md
  book/website/index.md
  ways_of_working.md
Labels: enhancement, community, PR: unreviewed, PR: reviewed-approved, 0-book-dash-june24

#3410 [READY-FOR-REVIEW] Case studies and best practices in academic-industry collaboration subchapter
  book/website/_toc.yml
  book/website/collaboration/academic-industry/academic-industry-community.md
  book/website/collaboration/academic-industry/academic-industry-establish.md
  book/website/collaboration/academic-industry/case-studies/BridgeAI_IndependentScientificAdvice.md
  book/website/collaboration/academic-industry/case-studies/practitioners-hub-case-study.md
  book/website/collaboration/academic-industry/case-studies/turing-roche-case-study.md
  book/website/collaboration/academic-industry/case-study-library.md
  book/website/collaboration/academic-industry/intro-case-studies-and-best-practices-in-academic-industry-collaboration.md
  book/website/collaboration/academic-industry/online-resources-best-practices.md
Labels: book, book-dash-nov23, 0-book-dash-june24, academic-industry-collaboration

#3750 Adding proofrading comments on Foreword by Jessie
  book/website/foreword/background.md
  book/website/foreword/cite.md
  book/website/foreword/community.md
  book/website/foreword/embracing-digital-commons.md
  book/website/foreword/emergent-strategy.md
  book/website/foreword/faqs.md
  book/website/foreword/foreword.md
  book/website/foreword/governance.md
Labels: 0-book-dash-june24

#3553 [Ready for Review] Collab cafe notes - Jan-Apr 2024
  governance/community-calls/20240103-collaboration-cafe.md
  governance/community-calls/20240117-collaboration-cafe.md
  governance/community-calls/20240207-collaboration-cafe.md
  governance/community-calls/20240221-collaboration-cafe.md
  governance/community-calls/20240306-collaboration-cafe.md
  governance/community-calls/20240320-collaboration-cafe.md
  governance/community-calls/20240403-collaboration-cafe.md
  governance/community-calls/20240417-collaboration-cafe.md
  governance/community-calls/20240501-collaboration-cafe.md
Labels: notes, 0-book-dash-june24
