Repository the-turing-way/the-turing-way, pull requests merged in 2024-11, with the labels that each got.

#3892 Update navigate TTW image alt text.md
  book/website/foreword/navigate.md
Labels: 0-book-dash-nov24

#3895 Adding data-repo to rdm-repository.md
  book/website/reproducible-research/rdm/rdm-repository.md
Labels: 0-book-dash-nov24

#3887 Move communications documents to a new repo
  communications/GSOD-applications/2020-Paul-Owoicho/README.md
  communications/GSOD-applications/2020-Paul-Owoicho/check-in.md
  communications/GSOD-applications/2020-gsod.md
  communications/GSOD-applications/GSoC-2021.md
  communications/GSOD-applications/GSoD-2020-Project-Proposal.md
  communications/GSOD-applications/GSoD-2020-Project-Report.md
  communications/GSOD-applications/GSoD2020-TheTuringWay.pdf
  communications/GSoC-applications/GSoC-2021/GSoC-2021-INCF.md
  communications/GSoC-applications/GSoC-2023/2023-GSoC-Final-Report-arya.md
  communications/GSoC-applications/GSoC-2023/2023-GSoC-application-arya.md
  communications/GSoC-applications/GSoC-2023/GSoC-org-submission.md
  communications/GSoC-applications/GSoC-2023/Images/img0.png
  communications/GSoC-applications/GSoC-2023/Images/img1.png
  communications/GSoC-applications/GSoC-2023/Images/img2.png
  communications/GSoC-applications/GSoC-2023/Images/img3.png
  communications/blogs/SSI_blog_06_03_19.md
  communications/collaboration-cafe/collaboration-cafe-template.md
  communications/promotion-pack/README.md
  communications/promotion-pack/faqs.md
Labels: infrastructure, 0-book-dash-nov24

#3894 fix typos in alt text
  book/website/reproducible-research/rdm/rdm-metadata.md
  book/website/reproducible-research/rdm/rdm-storage.md
Labels: 0-book-dash-nov24

#3748 Update ways of working in the localisation team
  book/website/community-handbook/translation/translation-workflow.md
Labels: book-dash-june24

#3853 Add new book dash June 24 contributions
  .all-contributorsrc
Labels: book-dash-june24

#3901 Updating Research Data Management Alt-Text
  book/website/reproducible-research/rdm.md
  book/website/reproducible-research/rdm/rdm-fair.md
  book/website/reproducible-research/rdm/rdm-spreadsheets.md
  book/website/reproducible-research/rdm/rdm-storage.md
Labels: accessibility, 0-book-dash-nov24

#3891 Move project management documents
  project_management/archive/book_skeleton.md
  project_management/archive/dissemination_plan.md
  project_management/archive/hopes_and_dreams.md
  project_management/archive/jupyter-workshop-application-20191215.md
  project_management/archive/online-collaboration-cafe.md
  project_management/archive/tips_and_tricks_survey.md
  project_management/archive/turing-webpage.md
  project_management/archive/useful-reading.md
  project_management/credit_requests/README.md
  project_management/credit_requests/turing_mybinder_azure_credit_request_2019-10.md
  project_management/credit_requests/turing_mybinder_azure_credit_request_2020-08.md
  project_management/credit_requests/turing_mybinder_azure_credit_request_2021-12.md
  project_management/credit_requests/turing_mybinder_azure_credit_request_2022-03.md
  project_management/credit_requests/turing_mybinder_azure_credit_request_template.md
  project_management/impact_statements/louise-bowler.md
  project_management/impact_statements/patricia_herterich.md
  project_management/impact_statements/quotes/quote_betatim.png
  project_management/impact_statements/quotes/quote_choldgraf.png
  project_management/impact_statements/quotes/quote_ggorman.png
  project_management/impact_statements/rachael-ainsworth.md
  project_management/impact_statements/sarah-gibson.md
  project_management/legacy-documents/dissemination_plan.md
  project_management/legacy-documents/hopes_and_dreams.md
  project_management/legacy-documents/online-collaboration-cafe.md
  project_management/legacy-documents/resources.md
  project_management/legacy-documents/turing-webpage.md
  project_management/legacy-documents/useful-reading.md
  project_management/proposals/2021-07-ux-funding-turing.md
  project_management/proposals/digital-Infrastructure-insights-fund.md
  project_management/proposals/jupyter-workshop-application-20191215.md
  project_management/proposals/tps-funding-application-20190429.md
  project_management/quarterly_reports/2020-turing-tps-report.md
  project_management/quarterly_reports/2021-turing-tps-report.md
  project_management/quarterly_reports/2022-turing-tps-report.md
  project_management/quarterly_reports/2023-turing-tps-report.md
  project_management/quarterly_reports/book-stats.csv
  project_management/quarterly_reports/book-stats.md
  project_management/quarterly_reports/count-chapters.sh
  project_management/turing_mybinder_role.md
Labels: infrastructure, 0-book-dash-nov24

#3889 Glossary updates on Open Source and related concepts
  book/website/_bibliography/references.bib
  book/website/afterword/glossary.md
Labels: 0-book-dash-nov24

#3900 Adding linting-no image to code-styling.md
  book/website/project-design/code-styling.md
Labels: 0-book-dash-nov24

#2927 Writing-packages
  book/website/_toc.yml
  book/website/reproducible-research/code-reuse/code-reuse-packages.md
Labels: PR: unreviewed, 0-book-dash-nov24

#3899 Indent alt text for image description
  book/website/collaboration/academic-industry/case-studies/practitioners-hub-case-study.md
Labels: 0-book-dash-nov24

#3919 Update bookdash.md with local hub info
  book/website/community-handbook/bookdash.md
Labels: 0-book-dash-nov24

#3938 Remove some unused/empty files from the repository root
  image.png
  zoom
Labels: 0-book-dash-nov24

#3897 Fix figure syntax for practitioners-hub-case-study.md
  book/website/collaboration/academic-industry/case-studies/practitioners-hub-case-study.md
Labels: 0-book-dash-nov24

#3908 Update local build
  book/website/community-handbook/infrastructure/infrastructure-external-link-check.md
  book/website/community-handbook/local-build.md
Labels: community-handbook, infrastructure, 0-book-dash-nov24

#3948 add book dash contributor details
  contributors.md
Labels: documentation, 0-book-dash-nov24

#2977 Update number of Twitter users and reference
  book/website/_bibliography/references.bib
  book/website/communication/social-media/social-media-twitter-tips.md
Labels: PR: partially-approved

#3959 Update contributors.md with information of my Book Dash participation
  contributors.md
Labels: documentation, 0-book-dash-nov24
