Repository the-turing-way/the-turing-way, pull requests merged in 2025-05, with the labels that each got.

#3416 [WIP] NEW CHAPTER - Project Management Frameworks
  book/website/_bibliography/references.bib
  book/website/myst.yml
  book/website/project-design/project-management-methodologies/overview.md
Labels: book-dash-nov23, 0-book-dash-may25

#3406 Improving the structure of the Project Design Guide
  book/website/myst.yml
  book/website/profiles.yml
  book/website/project-design/data-security.md
  book/website/project-design/data-security/data-governance.md
  book/website/project-design/data-security/data-governance/bigcode_casestudy.md
  book/website/project-design/data-security/data-governance/data-gov-ml.md
  book/website/project-design/data-security/sdp.md
  book/website/project-design/data-security/sdp/biological.md
  book/website/project-design/data-security/sdp/combined.md
  book/website/project-design/data-security/sdp/confidential.md
  book/website/project-design/data-security/sdp/metadata.md
  book/website/project-design/data-security/sdp/personal.md
  book/website/project-design/data-security/sdp/types.md
  book/website/project-design/data-security/sdpm.md
  book/website/project-design/data-security/sdpm/data-privacy-strategies.md
  book/website/project-design/data-security/sdpm/informed.md
  book/website/project-design/data-security/sdpm/resources.md
  book/website/project-design/data-security/sdpm/sharing-sensitive-data.md
  book/website/project-design/data-security/sdpw.md
  book/website/project-design/info-management.md
  book/website/project-design/info-management/code-styling.md
  book/website/project-design/info-management/code-styling/code-styling-guidelines.md
  book/website/project-design/info-management/code-styling/code-styling-readability.md
  book/website/project-design/info-management/code-styling/code-styling-tools.md
  book/website/project-design/info-management/filenaming.md
  book/website/project-design/pd-design-overview.md
  book/website/project-design/pd-design-overview/pd-checklist.md
  book/website/project-design/pd-design-overview/project-repo.md
  book/website/project-design/pd-design-overview/project-repo/project-repo-advanced.md
  book/website/project-design/pd-design-overview/project-repo/project-repo-contributors.md
  book/website/project-design/pd-design-overview/project-repo/project-repo-participation.md
  book/website/project-design/pd-design-overview/project-repo/project-repo-readme.md
  book/website/project-design/pd-design-overview/project-repo/project-repo-resources.md
  book/website/project-design/pd-design-overview/project-repo/project-repo-roadmapping.md
  book/website/project-design/stakeholders.md
  book/website/project-design/stakeholders/persona.md
  book/website/project-design/stakeholders/persona/persona-contributors.md
  book/website/project-design/stakeholders/persona/persona-creation.md
Labels: book-dash-nov23, book-dash-june24

#4190 Update DNS and redirect documentation
  book/website/community-handbook/infrastructure/infrastructure-dns.md
  book/website/community-handbook/infrastructure/redirects.md
  netlify.toml
Labels: 0-book-dash-may25

#3684 [WIP] Update Chapter - Research Community Management
  book/website/_bibliography/references.bib
  book/website/collaboration/research-infrastructure-roles/community-manager.md
  book/website/collaboration/research-infrastructure-roles/research-community-manager-personal-story-1.md
  book/website/myst.yml
Labels: book-dash-june24

#4212 Update communication.md
  book/website/communication/communication.md
Labels: 0-book-dash-may25

#4214 Demo update open-scholarship.md to remove dead link
  book/website/reproducible-research/open/open-scholarship.md
Labels: 0-book-dash-may25

#4211 Update missing-data-methods.md
  book/website/project-design/missing-data/missing-data-methods.md
Labels: 0-book-dash-may25

#4176 Update README.md to include the updated promotion pack link.
  README.md
Labels: 0-book-dash-may25

#4208 Combined personal website new
  book/website/communication/personal-websites.md
  book/website/communication/personal-websites/personal-website-framework.md
  book/website/myst.yml
Labels: 0-book-dash-may25

#4216 Update reg.md
  book/website/communication/dif-articles/reg.md
Labels: 0-book-dash-may25

#4219 Create case studies for the pathway creation chapter
  book/website/community-handbook/pathways/pathways-example.md
  book/website/myst.yml
Labels: 0-book-dash-may25

#4218 Update binder.md
  book/website/communication/binder.md
Labels: 0-book-dash-may25

#4231 Update contributors.md
  contributors.md
Labels: 0-book-dash-may25

#4194 Adding Operational Community Management Pathway
  book/website/profiles.yml
Labels: 0-book-dash-may25

#4228 Update shared-ownership-models.md
  book/website/collaboration/shared-ownership/shared-ownership-models.md
Labels: 0-book-dash-may25
